body {
    margin: 0;
    padding: 0;
    background: url('../images/fondo.png');
    overflow-x: hidden;
}


/* avion en movimiento */

.elem {
    display: block;
    position: absolute;
}

.elem-plane {
    background: url('../images/elem-avion.png');
    width: 150px;
    height: 150px;
    left: -700px;
    top: 1230px;
}

.elem-snow {
    background: url('../images/elem-copo-nieve.png');
    width: 100px;
    height: 102px;
    top: 900px;
}

.snow1 {
    left: 50px;
}

.snow2 {
    right: 50px;
}


/* estilos del timer */

#timer div {
    background-color: #000000;
    color: #ffffff;
    width: 100px;
    height: 105px;
    border-radius: 5px;
    font-size: 35px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
}

#timer div span {
    display: block;
    margin-top: -2px;
    font-size: 15px;
    font-weight: 500;
}

.timerbg {
    padding-top: 50px;
    width: 100%;
    height: 50vh;
    /* background-image: url('../images/timerbg.png'); */
    /* cambiar */
    background-position: bottom center;
    background-attachment: top;
    background-size: cover;
    /* animation: timer-load 6000ms ease-in; */
}


/* estilos del parallax  */

section.zoom {
    width: 100%;
    height: 900px;
    position: relative;
    overflow: hidden;
    background: url('../images/bg-parallax.jpg');
    background-size: cover;
    /* animation: slider-load 3500ms ease-in; */
}

section.zoom:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
}

section.zoom .layer1 {
    position: absolute;
    top: 0;
    left: 40%;
    width: 90%;
    transform: translateX(-50%);
}

section.zoom .layer2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
}

section.content {
    padding: 100px;
    box-sizing: border-box;
}


/* estilos del slideshow */

.slideshow {
    margin: 0 auto;
    padding-top: 50px;
    height: 500px;
    perspective: 1000px;
    /* animation: slider-load 6000ms ease-in; */
}

.content {
    margin: auto;
    width: 150px;
    perspective: 1000px;
    position: relative;
    padding-top: 80px;
    transform-style: preserve-3d;
}

.slider-content {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotate 40s infinite linear;
    transform-style: preserve-3d;
}

.slider-content:hover {
    cursor: pointer;
    animation-play-state: paused;
}

.slider-content figure {
    width: 180px;
    height: 120px;
    border: 1px solid #555;
    overflow: hidden;
    position: absolute;
}

.slider-content img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}

.slider-content img:hover {
    transform: scale(1.2);
    transition: all 300ms;
}

.shadow {
    position: absolute;
    box-shadow: 0px 0px 0px #000;
}

.slider-content figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}

.slider-content figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(300px);
}

.slider-content figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(300px);
}

.slider-content figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(300px);
}

.slider-content figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(300px);
}

.slider-content figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(300px);
}

.slider-content figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(300px);
}

.slider-content figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(300px);
}

.slider-content figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(300px);
}


/* estilos de las cards */

.cards {
    padding-top: 50px;
    position: relative;
    margin: auto;
    height: 600px;
}

.left {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.right {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.middle {
    position: absolute;
    top: 40%;
    left: 0%;
}

.card {
    cursor: pointer;
    width: 340px;
    height: 480px;
}

.front,
.back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}

.front img {
    height: 100%;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    background: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
}

.back-content {
    color: #2c3e50;
    text-align: center;
    width: 100%;
    padding: 5px;
}

.sm {
    margin: 20px 0;
}

.sm a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%
}

.sm a:hover {
    background: #2c3e50;
    color: white;
}

.card:hover>.front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover>.back {
    transform: perspective(600px) rotateY(0deg);
}


/* rotacion del slideshow */

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}


/* ajustar timer */

@media only screen and (max-width: 767px) {
    #timer {
        margin-top: -20px;
    }
    #timer div {
        width: 95px;
        height: 100px;
        font-size: 32px;
        margin-top: 20px;
    }
    #timer div span {
        font-size: 14px;
    }
}


/*----------- CAJA ----------- */

.caja {
    font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    background: #99a4c2;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #6b789b;
}

.texto-explicativo {
    font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    background: #99a4c2;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #6b789b;
}