#timer div {
    background-color: #000000;
    color: #ffffff;
    width: 100px;
    height: 105px;
    border-radius: 5px;
    font-size: 35px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
 }
 #timer div span {
    display: block;
    margin-top: -2px;
    font-size: 15px;
    font-weight: 500;
 }

 .timerbg{
    padding-top: 50px;
    width: 100%;
    height: 50vh;
    background-image: url('../images/timerbg.png');
    background-position: bottom center;
    background-attachment: top;
    background-size: cover;
 }

 @media only screen and (max-width: 767px) {
    #timer {
      margin-top: -20px;
    }
    #timer div {
      width: 95px;
      height: 100px;
      font-size: 32px;
      margin-top: 20px;
   }
   #timer div span {
     font-size: 14px;
   }
 }